<br>
    <div class="card mb-3" style="max-width: 700px; margin: auto;">
        <div class="row g-0">
            <div class="col-md-4 contenedor">
                <img src="../../../assets/abstr.jpg" class="img-fluid rounded-start" alt="...">
                <div class="contenedor-hijo"><h3 class="card-title" >Nombre Empresa</h3></div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Frontend Developer</h5>
                    <h5 class="card-title text-muted">2019 - 2020</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="">Cordoba - Argentina</small></p>
                </div>
            </div>
        </div>
    </div>
<div class="card mb-3" style="max-width: 700px; margin: auto;">
    <div class="row no-gutters">
        <div class="col-md-4 contenedor">
            <img src="../../../assets/abstr.jpg" class="img-fluid rounded-start" alt="...">
            <div class="contenedor-hijo"><h3 class="card-title" >Nombre Empresa</h3></div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Backend Developer</h5>
                <h5 class="card-title text-muted">2020 - 2021</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                     Dolor repellat ipsam, pariatur molestiae quia assumenda adipisci est quo vitae repellendus sit, sunt sequi libero ex deserunt distinctio! Cupiditate, excepturi earum?</p>
                <p class="card-text"><small class="">Cordoba - Argentina</small></p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 700px; margin: auto;">
    <div class="row g-0">
        <div class="col-md-4 contenedor">
            <img src="../../../assets/abstr.jpg" class="img-fluid rounded-start" alt="...">
            <div class="contenedor-hijo"><h3 class="card-title" >Nombre Empresa</h3></div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Fullstack Developer</h5>
                <h5 class="card-title text-muted">2021 - 2022</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="">Cordoba - Argentina</small></p>
            </div>
        </div>
    </div>
</div>



<!--<div class="row">
    <h3 class="titulo">Experiencia Laboral</h3>
    <div class="col-1"></div>
    <div class="col-11">
        <ul>
            <li>
                <h3>Frontend Developer</h3> - <h5>(2019-2010)</h5>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatum nam libero debitis, est, optio, maiores
                incidunt rerum quod quis quisquam quas vitae.
                Corporis, culpa dignissimos! Tempora impedit ipsam nostrum
                deleniti.
            </p>
        </ul>
        <ul>
            <li>
                <h3>Backend Developer</h3> - <h5>(2020-2021)</h5>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatum nam libero debitis, est, optio, maiores
                incidunt rerum quod quis quisquam quas vitae.
                Corporis, culpa dignissimos! Tempora impedit ipsam nostrum
                deleniti.
            </p>
        </ul>
        <ul>
            <li>
                <h3>Fullstack Developer</h3> - <h5>(2021-Actualidad)</h5>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatum nam libero debitis, est, optio, maiores
                incidunt rerum quod quis quisquam quas vitae.
                Corporis, culpa dignissimos! Tempora impedit ipsam nostrum
                deleniti.
            </p>
        </ul>
    </div>
</div>-->