<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<div>

</div>
<div class="container">
    <header class="d-flex flex-wrap  justify-content-md-between py-3 ">
        <img src="../assets/Diseño sin título (17).png" alt="">
        <ul class="nav mt-3 justify-content-end">
            <li><a href="#" class="nav-link px-2 link-white">Home</a></li>
            <li><a href="#" class="nav-link px-2 link-white">Features</a></li>
            <li><a href="#" class="nav-link px-2 link-white">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 link-white">About</a></li>
            <li><button type="button" class="btn btn-primary me-2">Login</button></li>
        </ul>
    </header>
</div>
<app-banner></app-banner>
<app-acercade></app-acercade>-->
<app-body></app-body> 