<div class="container">
    <div class="card-deck">
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="../../../assets/clima.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">App Clima</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Ir al Proyecto</a>
            </div>
        </div>
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="../../../assets/portfolio.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">UX/UI Portfolio</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Ir al Proyecto</a>
            </div>
        </div>
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="../../../assets/baseDeDatos.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">App Data Base</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Ir al Proyecto</a>
            </div>
        </div>
    </div>
</div>